<%- include('partials/_head.ejs') %>

  <section>
    <form action="/register" method="POST">
      <input type="text" name="email" placeholder="Type your email">
      <input type="text" name="name" placeholder="Type your name">
      <input type="text" name="icon" placeholder="Type your icon">
      <input type="password" name="password" placeholder="Type your password">
      <button type="submit">Register!</button>
    </form>
  </section>
  </body>

  </html>